templates:
  global:
    transmission:
      host: 192.168.0.1
      port: 9091
      username: {{ transmission_user }}
      password: {{ transmission_password }}

  tv:
    series:
      settings:
        favgroup:
          set:
            path: /mnt/hdd1/soap/{{ '{{' }}series_name{{ '}}' }}/Season {{ '{{' }}series_season{{ '}}' }}
      favgroup:
      {% for item in series %}
        - {{ item }}
      {% endfor %}
tasks:
  revolutiontt task:
    template:
      - tv
    headers:
      Cookie: "uid={{ rev_uid }}; pass={{ rev_pass }}; PHPSESSID={{ rev_sessid }}"
    rss: "https://revolutiontt.me/rss.php?feed=dl&cat=42&passkey={{ rev_passkey }}"
        
  bookmarkrevo task:
    accept_all: yes
    all_series:
      path: /mnt/hdd1/soap/{{ '{{' }}series_name{{ '}}' }}/Season {{ '{{' }}series_season{{ '}}' }}
    headers:
      Cookie: "uid={{ rev_uid }}; pass={{ rev_pass }}; PHPSESSID={{ rev_sessid }}"
    rss: "https://revolutiontt.me/rss.php?feed=dl&bookmarks=on&passkey={{ rev_passkey }}"
